<ion-header>
  <ion-toolbar>
      <ion-title>Recover Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="info">You will receive an email in the address you provide in this field</div>
  <div>
      <ion-item id="user-email">
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
  </div>

  <ion-button expand="block" (click)="recoverPassword()">Recover password</ion-button>

  <div class="links">
      <a class="text" href="/register">
          <ion-icon name="person-add"></ion-icon>
          Create an account
      </a>
  
      <a class="text" href="/login">
          <ion-icon name="mail"></ion-icon>
          Log in
      </a>
  </div>
</ion-content>
