* {
  box-sizing: border-box;
}

ion-content {
  --background: #1b1228;
}

::part(scroll) {
  padding: 1rem;
}

#user-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ion-item {
  --background: #332650;
}

#add-user-btn {
  background-color: #402862;
}









.user-image::part(native) {
  align-items: flex-start;
  flex-direction: column;
}

ion-input[type="file"] > input[type="file"] {
  padding-left: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.user-image > img {
  width: 100%;
  border: solid 2px #aaa;
  border-radius: 50%;

  object-fit: cover;
  aspect-ratio: 1 / 1;
}






input[type="file"] {
  all: unset;
  border-radius: 0.5em;
  padding: 0.5em 0.2em;

  --_outline-color-focus: var(--dark, #fff) var(--light, #000);
}


button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="file"]::file-selector-button {
  all: unset;
  display: block;

  cursor: pointer;
  background-color: var(--_background-color);
  --_background-color: var(--dark, #77469e) var(--light, #999);
  --_background-color-hover: var(--dark, #8f55be) var(--light, #bbb);
  --_background-color-active: var(--dark, #a060d4) var(--light, #ccc);

  --_outline-color-focus: var(--dark, #fff) var(--light, #000);

  border: none;
  border-radius: 1em;
  padding: 0.5em 0.7em;
}

input[type="file"]::file-selector-button {
  display: inline-block;
  margin-right: 0.2rem;
}


button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="file"]::file-selector-button:hover {
  background-color: var(--_background-color-hover, #545454);
}

button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="file"]::file-selector-button:active {
  background-color: var(--_background-color-active, #787878);
}
