:where(:not(:defined)) {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --fit-content: fit-content;
}

@supports (width: -moz-fit-content) {
  :root {
    --fit-content: -moz-fit-content;
  }
}

:root {
  --true: initial;
  --false: ;

  --light: var(--false);
  --dark: var(--true);
}

/* @media (prefers-color-scheme: light) {
  :root {
    --light: var(--true);
   --dark: var(--false);
  }
} */

@media print {
  :root {
    --light: var(--false);
    --dark: var(--true);
  }
}


:root {
  color: #fff;
  font-family: Arial;
  user-select: none;

  -webkit-tap-highlight-color: transparent;
}


p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}


:where(
td,
details, summary,
span, a,
blockquote, q, cite,
li, dt, dd,
dfn,
ruby,
abbr,
bdi, bdo,
data, time,
figcaption,
p, h1, h2, h3, h4, h5, h6,
u, s,
samp,
b, strong, i, em, mark, small, ins, del, sub, sup,
pre, code, var, kbd,
) {
  user-select: text;
}


[hidden] {
  display: none !important;
}


















/* Scrollbar */


:root {
  --thumb-color: #34373e;
  --thumb-hover-color: #23242b;
  --thumb-active-color: #14171b;
  --thumb-box-shadow-color: #969696;
  --track-color: #000;
  --button-color: #47484c;
  --button-hover-color: #585d6b;
  --button-active-color: #6a707f;
  --button-box-shadow-color: #bfbfbf;
  --corner-color: #6f6f6f;
}


::-webkit-scrollbar {
  width:  var(--scrollbar-width, 10px);
  height: var(--scrollbar-height, 5px);
  background: var(--track-color, #0b1115);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--thumb-color, #32577b);
  border-radius: 10px;
  box-shadow: inset var(--thumb-box-shadow-color, #5f93b9) 0 0 5px 0;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--thumb-hover-color, #1a3854);
}

::-webkit-scrollbar-thumb:active {
  background: var(--thumb-active-color, #0b1e2f);
}

::-webkit-scrollbar-button:single-button {
  width: 20px;
  height: 20px;
  background: var(--button-color, #1e4e80);
  box-shadow: inset var(--button-box-shadow-color, #338ed2) 0 0 5px 0;
}

::-webkit-scrollbar-button:hover {
  background: var(--button-hover-color, #183c63);
}

::-webkit-scrollbar-button:active {
  background: var(--button-active-color, #102740);
}


::-webkit-scrollbar-button:vertical:single-button:increment {
  border-radius: 10px 10px 0 0;
}

::-webkit-scrollbar-button:vertical:single-button:decrement {
  border-radius: 0 0 10px 10px;
}

::-webkit-scrollbar-button:horizontal:single-button:increment {
  border-radius: 10px 0 0 10px;
}

::-webkit-scrollbar-button:horizontal:single-button:decrement {
  border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar-corner {
  background: var(--corner-color, #27588a);
}
